<launch>
	<!-- <node pkg="vmxpi_ros_cam" name="opencv_node" type="opencv_node" output="screen"/> -->
	<!-- <node pkg="vmxpi_ros_cam" name="camera_node" type="camera_node" output="screen"/> -->
	<!-- <node pkg="vmxpi_ros_bringup" name="test_node" type="test_node" output="screen"/> -->

	<param name="pid/left/p" value="2" />
	<param name="pid/left/i" value="0.1" />
	<param name="pid/left/d" value="0.00" />
	<param name="pid/right/p" value="2" />
	<param name="pid/right/i" value="0.1" />
	<param name="pid/right/d" value="0.00" />
	<param name="pid/back/p" value="2" />
	<param name="pid/back/i" value="0.1" />
	<param name="pid/back/d" value="0.00" />
	<param name="a" value="0.9" />
	<param name="b" value="0.1" />
	<param name="g" value="0.02" />

	<node pkg="vmxpi_ros_bringup" name="main_node" type="main_node" output="screen"/> 
</launch>